@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

a
{
	color:unset;
	text-decoration: none;
	font-family:'Quicksand', sans-serif;
	z-index:9999;
}

a.login
{
	border-radius:15px;
	background:#EA3C53;
	padding:10px;
}

.brand-text
{
	font-family:'Indie Flower', cursive;
	font-size:1.8em;
	cursor:pointer;
	z-index:9999;
}

.header-body
{
	padding-right:5vw;
}


@media(max-width:768px)
{
	.header-body
	{
		color:#fff;
	}
}