@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');


.stock-container
{
	font-family:'Quicksand', sans-serif;
}


.stock-container.notif
{
	height:calc(100vh - 110px);
	overflow:hidden;
}

.stock-container::-webkit-scrollbar
{
	width:4px;
	background:rgba(0,0,0,0.05);
}

.stock-container::-webkit-scrollbar-thumb
{
	background:rgba(0,0,0,0.25);
}

.stock-container::-webkit-scrollbar-track
{
	background:rgba(0,0,0,0.01);
}


.stock-name
{
	font-family:'Kulim Park', sans-serif;
	font-size:1.45em;
}

.regular_market_price
{
	font-size:1.25em;
	font-family:'Raleway', sans-serif;
}

button
{
	position:relative;
	outline:none;
	border:none;
	cursor:pointer;
}

.follow
{
	width:fit-content;
	border-radius:4px;
	font-size:0.9em;
}

.predict
{
	top:-13.5px;
	height:fit-content;
	background:#EA3C53;
	border-radius:10px;
}


.tag-line
{
	font-size:0.85em;
}

.tag-content
{
	color:rgba(0,0,0,0.7);
	font-family:'Kulim Park', sans-serif;
}


select
{
	width:fit-content;
	font-family:'Kulim Park', sans-serif;
	font-size:0.9em;
	color:rgba(0,0,0,0.65);
}


.prompt
{
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background:rgba(0,0,0,0.6);
	opacity:0;
	z-index:-999;
	/*transition:all 0.45s ease-in;*/
	display:flex;
	font-family:'Quicksand', sans-serif;
	justify-content: center;
	align-items: center;
}


.prompt.active
{
	opacity:1;
	z-index:999;
}


.prompt-notif
{
	position: relative;
	top:-2vh;
	background:#fff;
	width:300px;
	border-radius:10px;
}


.prompt button
{
	font-size:0.9em;
	border-radius:10px;
}

.prompt button.active
{
	background:#EA3C53;
	color:#fff;
}

.notif-msg
{
	/*font-size: 0.9em;*/
}