
.container-fluid
{
	position:relative;
	height:100vh;
	overflow: hidden;
	background:#fff;
	background-size:cover !important;
}


.transparent-overlay
{
	position:absolute;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	background:rgba(0,0,0,0.7);
}


.responsive_base_theme
{
	background:url("../../../assets/images/Home/investment.jpg");
}


.responsive_auth_theme
{
	background:url("../../../assets/images/Login/investmentII.jpg");
}


.tab-element
{
	position:relative;
	height:75vh
}
