
<div class='row main d-flex justify-content-center'>
	
	<div class='col-10 row'>
		
		<div class='col-5 d-flex flex-column brand-details pl-5'>
			<p class='brand-text m-0 mb-2'>augur</p>
			<p class='brand-description mb-3'>Interested in making money from the stock market?, but confused about the various terms, relationships and what nots. Or you may be an experienced trader looking for additional help. Let our predictive models help you.</p>
			<a href="" class='text-white'>Begin</a>
		</div>

		<div class='col-7 vector-container'>
			<img src="../../../assets/images/Home/investment.jpg">
		</div>
	</div>
</div>