<div class='row main d-flex justify-content-center'>
	
	<div class='col-12 col-sm-10 row d-flex justify-content-center justify-content-lg-start'>

		<div class="d-none d-lg-block col-6">
			<img src="../../assets/images/Login/investmentII.jpg" class='vector'>
		</div>

		<div class='col-12 col-sm-8 col-lg-5 text-details d-flex align-items-center align-items-lg-start pl-4'>
			
			<form class='p-4 ml-lg-5' *ngIf="authType == 'login'" [formGroup]='loginForm' (ngSubmit)="login(loginForm)">
				<p class='brand-name mb-3 font-weight-bold'>Augur</p>
				<p class='advert-text mb-3 font-weight-bold'>Accumulate wealth via the stock market making use of our predictive tooling</p>
				<p class='mb-4'>Login to access your augur account</p>

				<div class='form-group'>
					<input type="text" formControlName='email' class='form-control py-2' placeholder="Email Address">
					<i class='fa fa-envelope'></i>
				</div>
				<div class='form-group'>
					<input type="password" formControlName='password' class='form-control py-2' placeholder="Password">
					<i class='fa fa-lock'></i>
				</div>

				<p class="mb-3">
					<a href="">Forgot Password</a>
				</p>

				<div class='d-flex'>
					<button class='text-white' type='submit' [disabled]='loginForm.invalid'>Login</button>
				</div>
			</form>

			<form class='p-4 ml-lg-5' *ngIf="authType == 'signup'" [formGroup]="signupForm" (ngSubmit)="signup(signupForm)">
				<p class='brand-name mb-3 font-weight-bold'>Augur</p>
				<p class='advert-text mb-3 font-weight-bold'>Begin your journey to greater success gaming the market</p>
				<p class='mb-4'>signup to augur</p>

				<div class='form-group'>
					<input type="text" formControlName='name' class='form-control py-2' placeholder="Name">
					<i class='fa fa-user'></i>
				</div>
				<div class='form-group'>
					<input type="text" formControlName='email' class='form-control py-2' placeholder="Email Address">
					<i class='fa fa-envelope'></i>
				</div>
				<div class='form-group mb-3'>
					<input type="password" formControlName='password' class='form-control py-2' placeholder="Password">
					<i class='fa fa-lock'></i>
				</div>


				<div class='d-flex'>
					<button class='text-white' type='submit' [disabled]='signupForm.invalid'>Signup</button>
				</div>
			</form>
		</div>
	</div>
	
</div>

<app-load [class.active]='isLoading | async'></app-load>