
<div class='sidebar-body d-flex flex-column'>
	<div class='title-text d-flex mb-3'>
		<img src="../../assets/images/Sidebar/circle.png" class='mr-2'>
		<p class='font-weight-bold'>Dashboard</p>
	</div>


	<ul class='list-unstyled'>
		<li class='d-flex mb-4'>
			<p class='m-0 text-muted tab active'>Explore</p>
		</li>
		<li class='d-flex mb-4'>
			<p class='m-0 text-muted tab'>Followed Stocks</p>
		</li>
		<li class='d-flex mb-4'>
			<p class='m-0 text-muted tab'>Predictions</p>
		</li>
		<li class='d-flex mb-4'>
			<p class='m-0 text-muted tab'>Update</p>
		</li>
		<li class='d-flex mb-4'>
			<p class='m-0 text-muted tab' (click)='logout()'>Logout</p>
		</li>
		
	</ul>
</div>