
.main
{
	padding-top:1.5%;
	height:100%;
}

form
{
	text-transform: lowercase;
	width:350px;
	border:1px solid rgba(0,0,0,0.07);
	height: fit-content;
	border-radius:3.5px;
	background:#fff;
	font-family:'Quicksand', sans-serif;
}

label
{
	color:rgba(0,0,0,0.6);
}

.form-control
{
	font-size:0.9em;
}

button
{
	background:#EA3C53;
	font-size:0.9em;
	outline:none;
	border:none;
	padding:8.5px;
	border-radius:3px;
}

input
{
	padding-left:40px;
}

input, select
{
	border-color:rgba(0,0,0,0.15);
}

.form-group
{
	position:relative;
}

.form-group img
{
	position:absolute;
	top:58%;
	left:8px;
	width:23px;
	object-fit: cover;
	height:23px;
}

a
{
	color:rgba(0,0,0,0.7);
	/*text-decoration: underline;*/
}

