
<div class='row main d-flex justify-content-center align-items-center'>
	
	<form class='p-3'>
		<p class='text-center mb-3 text-muted'><b>augur</b></p>
		<div class='form-group mb-3'>
			<label class='form-control-label'>Full Name</label>
			<input type="text" class='form-control' placeholder='full name'>
			<img src="../../assets/images/Signup/name.png">
		</div>
		<div class='form-group mb-3'>
			<label class='form-control-label'>Email Address</label>
			<input type="email" class='form-control' placeholder="email address">
			<img src="../../assets/images/Signup/email.png">
		</div>
		<div class='form-group mb-3'>
			<label class='form-control-label'>Type of Investor</label>
			<select class='form-control custom-select'>
				<option value='Novice'>Novice</option>
				<option value='Budding Investor'>Budding Investor</option>
				<option value='Complete Pro'>Complete Pro</option>
			</select>
		</div>
		<div class='form-group mb-3'>
			<label class='form-control-label'>Password</label>
			<input type="password" class='form-control' placeholder="password">
			<img src="../../assets/images/Signup/password.png" class='password'>
		</div>
		<div class='d-flex justify-content-between align-items-end'>
			<button type='submit' class="text-white">signup</button>
			<a href="">Login</a>
		</div>				
	</form>
</div>